<div class = "container">
  <div class="page-header">
    <h1>Idea</h1>
  </div>
  <div class="row">
    <div class="thumbnail">
      <img src="<%=@idea.image%>" alt="">
    </div>
  </div>
  <h4><%=@idea.idea%></h4>
  <a href="/edit/<%=@idea.id%>">Edit</a> |
  <a href="/">Home</a>
</div>