<div class="container newidea">
  <h1 class = "header">Create a new idea</h1>
  <canvas id="myCanvas" width="400" height="400" style="border:1px solid #c3c3c3">Canvas Not Supported</canvas>
  <textarea id="ideacontent" rows="4" cols="50" placeholder="Your Idea Here"></textarea>
  <div class="row">
    <div class="btn btn-default submitIdea">Submit</div>
    <br>
    <br>
    <a href="/">Home</a>
  </div>
</div>